.env
.env.dev
public
nginx
docker-compose.development.local.yml
docker-compose.yml
**/migrations/*
**/__pycache__/*
.idea/*
venv
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
tests.http
redis.conf
cert.crt
cert.key
env/
.vscode/
report.xlsx
dump.rdb
media/
db.sqlite3